* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header#site-header {
    height: 45px;
}

main {
    /* background-color: blue; */
    margin-top: 58px;
    margin-bottom: 30px;

    #home-carousel {
        .custom-carousel img {
            /* height: 200px; */
            aspect-ratio: 16/4;
            object-fit: cover;
            object-position: top;
        }
    }

    #carousel-preview {

        .custom-carousel img {
            /* height: 200px; */
            aspect-ratio: 16/4;
            object-fit: cover;
            object-position: top;
        }
    }

    .carousel-cards-container { 
        div.card {
            height: 160px;
            img {
                aspect-ratio: 16/4;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}