* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header#site-header {
    height: 45px;
}

main {
    /* background-color: blue; */
    margin-top: 58px;
    margin-bottom: 30px;

    #home-carousel {
        .custom-carousel img {
            /* height: 200px; */
            aspect-ratio: 16/4;
            object-fit: cover;
            object-position: top;
        }
    }

    #carousel-preview {

        .custom-carousel img {
            /* height: 200px; */
            aspect-ratio: 16/4;
            object-fit: cover;
            object-position: top;
        }
    }

    .carousel-cards-container {
        div.card {
            height: 160px;

            img {
                aspect-ratio: 16/4;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }

    /* Products */
    .products {
        .card {
            img {
                height: 200px;
                object-fit: cover;
            }

        }
    }

    .product-img-carousel {
        .carousel img { 
            height: 300px;
            object-fit: contain;
        }
        .carousel-indicators button.thumbnail {
            width: 100px;
            height: 100px;
            object-fit: cover;
            img {
                aspect-ratio: 1/1;
                height: 100%;
                object-fit: cover;
            }
        }

        .carousel-indicators button.thumbnail:not(.active) {
            opacity: 0.7;
        }

        .carousel-indicators {
            position: static;
        }

        @media screen and (min-width: 992px) {
            .carousel {
                max-width: 70%;
                margin: 0 auto;
            }
        }

    }
}


.plain-link {
    text-decoration: none;
    color: black;
}