{% extends 'base/base.html' %}

{% block title %}
Home
{% endblock %}

{% block search_bar %}
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}

<section id="home-carousel">
    {% include "mainapp/includes/carousel.html" %}
</section>
<section class="mt-5 mx-auto">
    <div class="container-fluid products row">
        {% for product in products %}
        {% include 'products/includes/productCard.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}